body {
  background-color: #2c2b3d;
  color: #ffffff;
  margin: 71px auto 0;
  width: 1092px;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 101px 0 157px;
}

section {
  width: 605px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 59px;
}

section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

p span {
  font-weight: bold;
}

span {
  color: #00bfa6;
}

#linha {
  height: 0;
  width: 568px;
  border: 1px solid #00bfa6;
  margin: auto;
}

footer p {
  margin: 27px auto 23px;
  font-size: 14px;
  line-height: 28px;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
